@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIE
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/** MODULES **/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Text:ital@0;1&family=Judson:ital,wght@0,400;0,700;1,400&family=Lalezar&display=swap");
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@font-face {
  font-family: Futura, sans-serif;
  src: url("../fonts/Futura.ttc") format("truetype");
}
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/** BASE **/
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIE
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
input[type=radio] {
  position: absolute;
  opacity: 0;
}

/* Styles pour les boutons */
button {
  border: 3px solid black;
  background-color: white;
  border-radius: 8px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-size: 18px;
}
button:hover {
  background-color: rgb(48, 63, 194);
  color: white;
  border: 3px solid rgb(48, 63, 194);
}
button:active {
  background-color: #052479;
  border: 3px solid #052479;
}

.bouton {
  background-color: #bbd531;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}
.bouton:after {
  content: "»";
  margin-left: 0.4em;
}
.bouton--hover {
  background-color: rgba(187, 213, 49, 0.75);
}
.bouton--active {
  background-color: rgba(187, 213, 49, 0.5);
}
.bouton--inverse {
  background-color: white;
  border: 2px solid #bbd531;
}
.bouton--inverse--hover {
  border-color: rgba(187, 213, 49, 0.75);
}
.bouton--inverse--active {
  border-color: rgba(187, 213, 49, 0.5);
}

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIE
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #2678B5;
  text-decoration: none;
}
.hyperlien--visited {
  color: rgb(33.5753424658, 106.0273972603, 159.9246575342);
}
.hyperlien--hover {
  color: rgb(20.301369863, 64.1095890411, 96.698630137);
  text-decoration: underline;
}
.hyperlien--active {
  color: #bbd531;
  text-decoration: underline;
}

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIE
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Futura, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8rem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

.texte {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(0, 0, 255, 0.2);" /%3E%3Cstop offset="100%" style="stop-color:rgba(0, 0, 255, 0.1);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="6.7796610169%" height="100%"/%3E%3Crect x="8.4745762712%" width="6.7796610169%" height="100%"/%3E%3Crect x="16.9491525424%" width="6.7796610169%" height="100%"/%3E%3Crect x="25.4237288136%" width="6.7796610169%" height="100%"/%3E%3Crect x="33.8983050847%" width="6.7796610169%" height="100%"/%3E%3Crect x="42.3728813559%" width="6.7796610169%" height="100%"/%3E%3Crect x="50.8474576271%" width="6.7796610169%" height="100%"/%3E%3Crect x="59.3220338983%" width="6.7796610169%" height="100%"/%3E%3Crect x="67.7966101695%" width="6.7796610169%" height="100%"/%3E%3Crect x="76.2711864407%" width="6.7796610169%" height="100%"/%3E%3Crect x="84.7457627119%" width="6.7796610169%" height="100%"/%3E%3Crect x="93.2203389831%" width="6.7796610169%" height="100%"/%3E%3C/svg%3E') no-repeat scroll;
  }
}
body {
  margin: 0px;
}

/*** Classes pour dimensionner les blocs ***/
@media (min-width: 600px) {
  /*** Classe de base pour l'intégration en flexbox ***/
  .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* valeur par défaut */
  }
  .cols_1_de_12 {
    width: 6.5%;
  }
  .cols_2_de_12 {
    width: 15%;
  }
  .cols_3_de_12 {
    width: 23.5%;
  }
  .cols_4_de_12 {
    width: 32%;
  }
  .cols_5_de_12 {
    width: 40.5%;
  }
  .cols_6_de_12 {
    width: 49%;
  }
  .cols_7_de_12 {
    width: 57.5%;
  }
  .cols_8_de_12 {
    width: 66%;
  }
  .cols_9_de_12 {
    width: 74.5%;
  }
  .cols_10_de_12 {
    width: 83%;
  }
  .cols_11_de_12 {
    width: 91.5%;
  }
  .cols_12_de_12 {
    width: 100%;
  }
}
/* Styles pour les images background en mode mobile */
/* J'ai mis les max-width pour fix un bug que je n'ai pas compris */
@media (max-width: 768px) {
  .imagesBackground {
    overflow: hidden;
    position: absolute;
    width: fit-content;
    height: 100%;
    z-index: -1;
    top: 0;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .imagesBackground__images ::marker {
    display: none;
  }
  .imagesBackground__images h3 {
    margin: 0;
    position: absolute;
    color: white;
    height: fit-content;
    font-size: 28px;
    font-family: "Lalezar", sans-serif;
    z-index: 1;
  }
  .imagesBackground__images:not(.active) {
    display: none;
  }
  .imagesBackground__images:not(.active) h3 {
    display: none;
  }
  .imagesBackground__images img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    max-width: 100vw;
  }
}
/* Styles pour les images background */
@media (min-width: 768px) {
  .imagesBackground {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .imagesBackground__images {
    flex: 1;
    transition: flex 0.5s ease-in-out, opacity 0.6s ease;
    /* Styles pour les Titre de secitons */
  }
  .imagesBackground__images.active {
    flex: 22;
    opacity: 1;
  }
  .imagesBackground__images:not(.active) {
    flex: 1;
    opacity: 0.7;
  }
  .imagesBackground__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .imagesBackground__images h3 {
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: "Lalezar", sans-serif;
    z-index: 1;
    margin: 0;
    cursor: pointer;
  }
}
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIE
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/** LIBRAIRIES **/
/* Normalize */
/** UTILITAIRES **/
/*
* CSS pour le formulaire
*/
ol {
  list-style-type: none;
}

.formulaire {
  padding: clamp(1rem, 2vw, 2rem);
  /* Styles pour le formulaire */
}
.formulaire__etapes {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: white;
  margin: auto;
  padding: 1rem 2rem;
}
.formulaire__etapes__etape {
  width: fit-content;
}
.formulaire__etapes__etape a {
  text-decoration: none;
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: black;
}
.formulaire__logo {
  display: block;
  margin: auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .formulaire__logo {
    width: 200px;
    height: auto;
    margin-bottom: 40px;
  }
}
.formulaire__form {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: clamp(1rem, 2vw, 2rem);
  border-radius: 32px;
  width: fit-content;
  margin: auto;
  /* Styles pour le titre */
  /* Styles pour les champs input */
  /* Styles pour le footer/boutons suivant/précédent */
}
.formulaire__form__choixpaiement {
  margin: 30px 0px 100px 0px;
  /* Styles pour les boutons radio */
}
@media (min-width: 768px) {
  .formulaire__form__choixpaiement {
    width: 400px;
    padding-bottom: 50px;
  }
}
.formulaire__form__choixpaiement__label {
  display: inline-block;
  padding: 16px 16px;
  border: 1px solid #052479;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: white;
  color: #052479;
  margin-top: 1rem;
  width: fit-content;
}
.formulaire__form__choixpaiement__label:hover {
  background-color: #052479;
  color: white;
}
.formulaire__form__choixpaiement__label:active {
  background-color: #031a3d;
  border-color: #031a3d;
}
.formulaire__form__titre {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #005EFF;
  margin-top: 0px;
  border-bottom: 2px solid #005EFF;
  padding-bottom: 10px;
  width: 80%;
  margin: auto;
}
@media (min-width: 768px) {
  .formulaire__form__titre {
    font-size: 3rem;
    width: 380px;
    margin: auto;
  }
}
.formulaire__form input {
  width: auto;
  display: inline-block;
  padding: 8px 14px;
  border: 1px solid #052479;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: white;
  color: #052479;
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.formulaire__form input::placeholder {
  color: #052479;
}
.formulaire__form footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
}

input[type=radio]:checked + label {
  background-color: #007BFF;
  color: #fff;
  border-color: #007BFF;
}

/* Styles pour les messages d'erreur */
.erreur {
  color: red;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

.invisible {
  display: none;
}

.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
