/* Styles pour les images background en mode mobile */
/* J'ai mis les max-width pour fix un bug que je n'ai pas compris */
@media (max-width:768px) {
  .imagesBackground {

    overflow: hidden;
    position: absolute;
    width: fit-content;
    height: 100%;
    z-index: -1;
    top: 0;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    &__images {
      & ::marker {
        display: none;
      }

      & h3 {
        margin: 0;
        position: absolute;
        color: white;
        height: fit-content;
        font-size: 28px;
        font-family: "Lalezar", sans-serif;
        z-index: 1;

      }

      &:not(.active) {
        display: none;

        h3 {
          display: none;
        }
      }

      & img {
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        max-width: 100vw;
      }
    }
  }
}

/* Styles pour les images background */
@media (min-width: 768px) {
  .imagesBackground {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    &__images {


      flex: 1;
      transition: flex 0.5s ease-in-out,
        opacity 0.6s ease;

      &.active {
        flex: 22;
        opacity: 1;
      }

      &:not(.active) {
        flex: 1;
        opacity: 0.7;

        & h3 {
          display: none;
        }
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      /* Styles pour les Titre de secitons */
      & h3 {
        position: absolute;
        color: white;

        font-size: 60px;
        font-family: "Lalezar", sans-serif;
        z-index: 1;
        margin: 0;
        cursor: pointer;

      }
    }
  }
}