@charset "UTF-8";

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * LIBRAIRIE
 ** Normalize
 *
 * UTILITAIRES
 ** Variables
 ** Mixins
 *
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 *
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/** LIBRAIRIES **/

/* Normalize */
//npm @use "../../node_modules/normalize.scss/normalize.scss";

/** UTILITAIRES **/
@use "utilitaires/variables";
@use "utilitaires/mixins";

/** BASE **/
@use "base/bouton";
@use "base/hyperlien";
@use "base/typo";
@use "base/grille";
@use "base/fieldset";
@use "base/imagesBackground";
@use "modules/formulaire";

/** MODULES **/
.invisible {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Text:ital@0;1&family=Judson:ital,wght@0,400;0,700;1,400&family=Lalezar&display=swap');

.lalezar-regular {
    font-family: "Lalezar", sans-serif;
    font-weight: 400;
    font-style: normal;
}